.image-home {
  background: #000 url('../../images/portfolio-page-img.jpg') no-repeat;
  background-size: 100%;
  height: 960px; /* specific to img */
  margin-top: -1em;
  position: relative;
  z-index: -1;
}
