.splash {
  position: relative;
}

.splash > h3 {
  color: #DFC574;
  font-size: 4em;
}

.splash-line1 {
  position: absolute;
  top: 5%;
}

.splash-line2 {
  position: absolute;
  top: 10%;
}

.splash-line3 {
  position: absolute;
  left: 5%;
  top: 15%;
}

.splash-line4 {
  position: absolute;
  left: 5%;
  top: 20%;
}