---
title: Home
---

//.l-constrained.l-constrained-tighter
//  .image-home
//    = image_tag "portfolio-page-img.jpg", alt: "Sonny Gonzalez"

.l-constrained.l-constrained-tighter
  .image-home
    .splash
      .splash-line1
        %h3 Sonny
    .splash
      .splash-line2
        %h3 Gonzalez
    .splash
      .splash-line3
        %h3 Web
    .splash
      .splash-line4
        %h3 Developer